{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="#">后台管理</a></li>
    <li class="active">分类列表</li>
</ol>
<h3>分类列表</h3>
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>栏目名称</th>
        <th>编辑</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> |
            <a href="/admin/category/delete?id={{category._id.toString()}}">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'page.html' %}
{% endblock %}