{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="#">后台管理</a></li>
    <li class="active">用户列表</li>
</ol>
<h3>用户列表</h3>
<table class="table table-hover table-striped">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>密码</th>
        <th>是否是管理员</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user._id.toString()}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td>{% if user.isAdmin %}是{% else %}否{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% include 'page.html' %}
{% endblock %}